{% extends "base_site.html" %}
{% block title %}Diagnostico{% endblock %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Detalle del Diagnóstico</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if diagnostico %}
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Descripción</h3>
                                <p class="card-text">{{ diagnostico.descripcion }}</p>

                                <h3 class="card-title mt-3">Información de la Cita Médica</h3>
                                <p class="card-text">ID de la Cita Médica: {{ diagnostico.idCitaMedica }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No se encontró información para este diagnóstico.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}