{% extends "base_site.html" %}
{% block title %}
Recetas
{% endblock %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
            <div class="x_title">
                <h2>Recetas</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>prescripcion</th>
                        <th>medicamentos</th>
                        <th>idDiagnostico</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for receta in recetas %}
                    <tr>
                        <th scope="row">{{receta.id}}</th>
                        <td>{{receta.prescripcion}}</td>
                        <td>{{receta.medicamentos}}</td>
                        <td>{{receta.idDiagnostico}}</td>
                        <td>
                            <a href="#">Ver</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
