{% extends "base_site.html" %}
{% block title %}Detalle de Cita Medica{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Datos del Paciente</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Nombres:</strong>
                        </div>
                        <div class="col-md-3">
                            Juan Carlos
                        </div>
                        <div class="col-md-3">
                            <strong>Apellidos:</strong>
                        </div>
                        <div class="col-md-3">
                            Pérez Gómez
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Número de Identificación:</strong>
                        </div>
                        <div class="col-md-3">
                            1234567890
                        </div>
                        <div class="col-md-3">
                            <strong>Edad:</strong>
                        </div>
                        <div class="col-md-3">
                            34 años
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Fecha de Nacimiento:</strong>
                        </div>
                        <div class="col-md-3">
                            01/01/1990
                        </div>
                        <div class="col-md-3">
                            <strong>Dirección:</strong>
                        </div>
                        <div class="col-md-3">
                            Calle Principal 123, Loja
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Celular:</strong>
                        </div>
                        <div class="col-md-3">
                            0987654321
                        </div>
                        <div class="col-md-3">
                            <strong>Correo Electrónico:</strong>
                        </div>
                        <div class="col-md-3">
                            juancarlos@example.com
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Hijos:</strong>
                        </div>
                        <div class="col-md-3">
                            {{historial.hijos}}
                        </div>
                        <div class="col-md-3">
                            <strong>Discapacidad:</strong>
                        </div>
                        <div class="col-md-3">
                            {{historial.discapacidad}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Alergias:</strong>
                        </div>
                        <div class="col-md-3">
                            {{historial.alergias}}
                        </div>
                        <div class="col-md-3">
                            <strong>Medicacion Actual:</strong>
                        </div>
                        <div class="col-md-3">
                            {{historial.medicacionActual}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <strong>Antecendentes familiares:</strong>
                        </div>
                        <div class="col-md-3">
                            {{historial.antecendentesFamiliares}}
                        </div>
                        <div class="col-md-3">
                            <strong>Patologias pasadas:</strong>
                        </div>
                        <div class="col-md-3">
                            {{historial.patologiasPasadas}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="x_panel">
                <div class="x_title">
                    <h2>Historial de Citas Medicas</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Motivo</th>
                                <th>Diagnostico</th>
                                <th>Prescripcion</th>
                                <th>Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cita in citas %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>{{cita.motivo}}</td>
                                <td>{{cita.observaciones}}</td>
                                <td></td>
                                <td>
                                    <a href="#">Ver</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}