{% extends "base_site.html" %}
{% block title %}Detalle Cita{% endblock %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Detalle del Diagnóstico</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <a href="{{ url_for('diagnostico_route.registrarDiagnostico', id=id) }}" class="btn btn-primary">
                        Registrar Diagnóstico
                    </a>
                    
                </div>

                <div class="x_content">
                    <a href="{{ url_for('diagnostico_route.diagnostico', id=id) }}" class="btn btn-primary">
                        Ver Diagnóstico
                    </a>
                    
                </div>
                

            </div>
        </div>
    </div>
  </div>
{% endblock content %}