{% extends "base_site.html" %}
{% block title %}
<title>Inicio</title>
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h1>Inicio</h1>
        <a href="/login" class="btn btn-primary">Cerrar Sesion</a>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h2>Gestion de citas medicas</h2>
          <p>Por favor inicia sesion </p>
        </div>
      </div>
  </div>
{% endblock %}