{% extends "base_site.html" %}
{% block title %}
<title>Inicio</title>
{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2>Gestión de citas médicas</h2>
            <p>
                Bienvenido al sistema de gestión de un consultorio médico. Esta aplicación está diseñada para optimizar 
                y facilitar las actividades relacionadas con la atención médica, permitiendo:
            </p>
            <ul>
                <li>El registro seguro de usuarios con sus credenciales únicas.</li>
                <li>La generación de turnos para citas médicas de manera eficiente.</li>
                <li>El almacenamiento del historial médico actualizado después de cada consulta.</li>
                <li>La creación de solicitudes de exámenes médicos por parte del médico tratante.</li>
                <li>La emisión de recetas médicas basadas en diagnósticos realizados.</li>
                <li>La visualización detallada de todos los datos asociados a los pacientes.</li>
            </ul>
            <p>
                Explora las funcionalidades del sistema a través del menú de navegación para realizar tus tareas de 
                manera rápida y eficiente. 
            </p>
        </div>
    </div>
</div>
{% endblock %}

