{% extends "base_site.html" %}
{% block title %}Información de medico{% endblock %}
{% block content %}
<style>
    .profile-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f8f9fa;
        margin: 30px;
    }
    .profile-card {
        width: 90%;
        max-width: 1200px;
        background: white;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        padding: 40px;
    }
    .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .profile-info {
        border-left: 3px solid #007bff;
        padding-left: 30px;
    }
    .profile-info div {
        font-size: 1.5rem;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    .btn-container {
        margin-top: 30px;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Bienvenido <strong>{{medico.nombres}} {{medico.apellidos}}</strong></h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="profile-container">
            <div class="profile-card row">
                <!-- Sección de Perfil -->
                <div class="col-md-4 text-center">
                    <img src="/static/build/images/img.png" alt="Foto de perfil" class="profile-img">
                    <h2 class="fw-bold">{{ medico.nombres }} {{ medico.apellidos }}</h2>
                    <p class="text-muted fs-4"><strong>{{ medico.tipoIdentificacion }}:</strong> {{ medico.numeroIdentificacion }}</p>
                    
                </div>
                <!-- Sección de Información -->
                <div class="col-md-8 profile-info">
                    <div><strong>Fecha de Nacimiento:</strong> {{ medico.fechaNacimiento }}</div>
                    <div><strong>Edad:</strong> {{ edad }} años</div>
                    <div><strong>Email:</strong> {{ medico.email }}</div>
                    <div><strong>Teléfono:</strong> {{ medico.telefono }}</div>
                    <div><strong>Dirección:</strong> {{ medico.direccion }}</div>
                    <div><strong>Especialidad:</strong> {{ medico.especialidad }}</div>
                    <div><strong>Codigo de licencia:</strong> {{ medico.matricula }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
