{% extends "base_site.html" %}
{% block title %}Agenda{% endblock %}
{% block stylesheets %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Agenda</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div id='calendar'></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}

{% block javascripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            locale: 'es', // Español
            selectable: true,
            editable: false,
            slotMinTime: '08:00:00',
            slotMaxTime: '20:00:00',
            slotDuration: '00:30:00',
            eventDisplay: 'block',
            height: 'auto',
            //events: '/api/turnos', // URL donde obtendrás los turnos desde tu backend
        });

        calendar.render();
    });
</script>

{% endblock javascripts %}