{% extends "base_site.html" %}
{% block title %}Detalle del Examen{% endblock %}
{% block content %}
  <div class="right_col" role="main">
    <div class="">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Detalle del Examen</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if examen %}
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Descripción</h3>
                                <p class="card-text">{{ examen.descripcion }}</p>

                                <h3 class="card-title mt-3">Tipo de Examen</h3>
                                <p class="card-text">{{ examen.tipo }}</p>

                                <h3 class="card-title mt-3">Archivo del Examen</h3>
                                {% if examen.nombreArchivo %}
                                    <a href="{{ url_for('static', filename='media/examenes/' + examen.nombreArchivo) }}" class="btn btn-primary" target="_blank">
                                        Ver/Descargar Examen
                                    </a>
                                {% else %}
                                    <p>No hay archivo asociado al examen.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No se encontró información para este examen.
                        </div>
                    {% endif %}
                </div>

                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <!-- Botón para volver a la lista de exámenes -->
                        <a href="{{ url_for('examen_route.examens') }}" class="btn btn-secondary">Volver a la lista de exámenes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock content %}
