{% extends "base_site.html" %}
{% block title %}Registro de Examen{% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Registro de Examen</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label-left" action="{{ url_for('examen_route.save_examen') }}" method="post" enctype="multipart/form-data">
                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo de Examen</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="form-control" id="tipoExamen" name="tipoExamen" required>
                                        {% for tipo in tipos_examen %}
                                            <option value="{{ tipo }}">{{ tipo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">ID Diagnóstico</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="hidden" class="form-control" id="idDiagnostico" name="idDiagnostico" value="{{ id }}" readonly required>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Subir Archivo</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="file" class="form-control" id="archivo" name="archivo" accept=".pdf" required>
                                </div>
                            </div>
                            
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <a href="{{ url_for('diagnostico_route.diagnostico', id=id) }}" class="btn btn-primary">
                                        Cancelar
                                    </a>
                                    <button type="reset" class="btn btn-primary">Borrar</button>
                                    <button type="submit" class="btn btn-success">Guardar Examen</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
